Script Description:
Perform temporal aggregation (daily averages) of the merged dataframe.

File Name: 01_04_Temporal_Aggregation_EC_Tower Data.ipynb

Date: 2025

Created by: Rob Alamgir

Version: 1.0

References:

#### Import the relevant packages

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

#### Load and preprocess data

In [2]:
data_path = "C:/Data_MSc_Thesis/Pre_Processed_Data_Final/Pre_Processed_Data_All_Locations_V3.csv"
complete_dataset = pd.read_csv(data_path, low_memory=False)
complete_dataset['datetime'] = pd.to_datetime(complete_dataset['datetime'], errors='coerce')
complete_dataset['DOY'] = pd.to_numeric(complete_dataset['DOY'], errors='coerce')
complete_dataset = complete_dataset.drop(columns=['daytime'])                
complete_dataset['date'] = complete_dataset['datetime'].dt.date   
complete_dataset['date'] = pd.to_datetime(complete_dataset['date'], errors='coerce')

In [3]:
print(complete_dataset.info()) 
#complete_dataset.head(15)
#complete_dataset.tail(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425308 entries, 0 to 425307
Data columns (total 71 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   datetime                     425299 non-null  datetime64[ns]
 1   date                         425299 non-null  datetime64[ns]
 2   DOY                          425191 non-null  float64
 3   Source                       425308 non-null  object
 4   SWCT_1_005                   390173 non-null  float64
 5   SWCT_1_015                   405102 non-null  float64
 6   SWCT_1_025                   405250 non-null  float64
 7   SWCT_1_035                   405140 non-null  float64
 8   SWCT_1_045                   405447 non-null  float64
 9   SWCT_1_055                   405289 non-null  float64
 10  SWCT_1_065                   405442 non-null  float64
 11  SWCT_1_075                   405565 non-null  float64
 12  SWCT_1_085                   405564 non-null  float64
 13  SWCT_1_095                   391620 non-null  float64
 14  SWCT_1_105                   405528 non-null  float64
 15  SWCT_1_115                   405570 non-null  float64
 16  STMP_1_005                   391502 non-null  float64
 17  STMP_1_015                   395243 non-null  float64
 18  STMP_1_025                   392751 non-null  float64
 19  STMP_1_035                   389116 non-null  float64
 20  STMP_1_045                   390064 non-null  float64
 21  STMP_1_055                   388415 non-null  float64
 22  STMP_1_065                   391737 non-null  float64
 23  STMP_1_075                   388028 non-null  float64
 24  STMP_1_085                   385661 non-null  float64
 25  STMP_1_095                   381062 non-null  float64
 26  STMP_1_105                   388814 non-null  float64
 27  STMP_1_115                   361586 non-null  float64
 28  WLEV_f                       290698 non-null  float64
 29  WTMP_f                       139395 non-null  float64
 30  ATMP_f                       425191 non-null  float64
 31  PAIR_f                       425191 non-null  float64
 32  WIND_f                       425191 non-null  float64
 33  WINS_f                       425191 non-null  float64
 34  RHUM_f                       425191 non-null  float64
 35  RAIN_f                       425191 non-null  float64
 36  VPD_f                        417683 non-null  float64
 37  SWIN_f                       425191 non-null  float64
 38  ET                           136987 non-null  float64
 39  NEE_CO2                      69301 non-null   float64
 40  NEE_CH4                      13849 non-null   float64
 41  GPP_NT                       372314 non-null  float64
 42  RECO_NT                      425010 non-null  float64
 43  NEE_CO2_kg_day_ha_DAv_24hrs  144613 non-null  float64
 44  NEE_CH4_kg_day_ha_DAv_24hrs  30541 non-null   float64
 45  GPP_NT_kg_day_ha_DAv_24hrs   372993 non-null  float64
 46  RECO_NT_kg_day_ha_DAv_24hrs  425083 non-null  float64
 47  NEE_CO2_kg_day_ha_DAv_NT     129039 non-null  float64
 48  NEE_CH4_kg_day_ha_DAv_NT     27015 non-null   float64
 49  GPP_NT_kg_day_ha_DAv_NT      158105 non-null  float64
 50  RECO_NT_kg_day_ha_DAv_NT     158489 non-null  float64
 51  NEE_CO2_kg_day_ha_DAv_DT     136318 non-null  float64
 52  NEE_CH4_kg_day_ha_DAv_DT     28957 non-null   float64
 53  GPP_NT_kg_day_ha_DAv_DT      157941 non-null  float64
 54  RECO_NT_kg_day_ha_DAv_DT     158373 non-null  float64
 55  GPP_NT_kg_day_ha_DAv_NaN     372358 non-null  float64
 56  RECO_NT_kg_day_ha_DAv_NaN    424928 non-null  float64
 57  NEE_CO2_kg_day_ha_WAv_24hrs  30168 non-null   float64
 58  NEE_CH4_kg_day_ha_WAv_24hrs  7682 non-null    float64
 59  GPP_NT_kg_day_ha_WAv_24hrs   53904 non-null   float64
 60  RECO_NT_kg_day_ha_WAv_24hrs  60778 non-null   float64
 61  NEE_CO2_kg_day_ha_WAv_NT     28920 non-null   float64
 62  NEE_CH4_kg_day_ha_WAv_NT     7204 non-null    float64
 63  GPP_NT_kg_day_ha_WAv_NT      30408 non-null   float64
 64  RECO_NT_kg_day_ha_WAv_NT     30456 non-null   float64
 65  NEE_CO2_kg_day_ha_WAv_DT     30024 non-null   float64
 66  NEE_CH4_kg_day_ha_WAv_DT     7490 non-null    float64
 67  GPP_NT_kg_day_ha_WAv_DT      31180 non-null   float64
 68  RECO_NT_kg_day_ha_WAv_DT     31228 non-null   float64
 69  GPP_NT_kg_day_ha_WAv_NaN     53904 non-null   float64
 70  RECO_NT_kg_day_ha_WAv_NaN    60778 non-null   float64
dtypes: datetime64[ns](2), float64(68), object(1)
memory usage: 230.4+ MB
None

#### Compute the Monthly and Weekly Total Rainfall

In [4]:
# Ensure 'date' column is in datetime format
complete_dataset['date'] = pd.to_datetime(complete_dataset['date'])

# Create new columns for year-month and year-week
complete_dataset['year_month'] = complete_dataset['date'].dt.to_period('M').astype(str)
complete_dataset['year_week'] = complete_dataset['date'].dt.to_period('W').astype(str)

# Compute the monthly rainfall sum per location
monthly_rain_sum = complete_dataset.groupby(['Source', 'year_month'])['RAIN_f'].sum().reset_index()
monthly_rain_sum.rename(columns={'RAIN_f': 'RAIN_f_monthly_sum'}, inplace=True)

# Compute the weekly rainfall sum per location
weekly_rain_sum = complete_dataset.groupby(['Source', 'year_week'])['RAIN_f'].sum().reset_index()
weekly_rain_sum.rename(columns={'RAIN_f': 'RAIN_f_weekly_sum'}, inplace=True)

# Replace values above 1000 with NaN in monthly rainfall only
monthly_rain_sum.loc[monthly_rain_sum['RAIN_f_monthly_sum'] > 1000, 'RAIN_f_monthly_sum'] = pd.NA
weekly_rain_sum.loc[weekly_rain_sum['RAIN_f_weekly_sum'] > 1000, 'RAIN_f_weekly_sum'] = pd.NA

# Merge back into the original dataset while ensuring no duplicates
if 'RAIN_f_monthly_sum' not in complete_dataset.columns:
    complete_dataset = complete_dataset.merge(monthly_rain_sum, on=['Source', 'year_month'], how='left')

if 'RAIN_f_weekly_sum' not in complete_dataset.columns:
    complete_dataset = complete_dataset.merge(weekly_rain_sum, on=['Source', 'year_week'], how='left')

#### Perform temporal aggregation

In [5]:
# List of columns to leave unchanged
columns_to_keep = ['Source', 'date', 'DOY', 'year_month', 'year_week', 'RAIN_f_monthly_sum', 'RAIN_f_weekly_sum']

# Define aggregation methods
agg_dict = {col: 'mean' for col in complete_dataset.columns if col not in columns_to_keep}
agg_dict.update({
    'DOY': 'first',  # Keep the first occurrence
    'year_month': 'first',  # Keep the first occurrence
    'year_week': 'first',  # Keep the first occurrence
    'RAIN_f_monthly_sum': 'first',  # Monthly sum should remain unchanged
    'RAIN_f_weekly_sum': 'first'  # Weekly sum should remain unchanged
})

# Perform the aggregation and reset index
daily_avg_df = complete_dataset.groupby(['Source', 'date'], as_index=False).agg(agg_dict).reset_index(drop=True)

#### Reorder the order of the columns in the dataframe

In [6]:
# Drop the 'datetime' column if it exists
daily_avg_df = daily_avg_df.drop(columns=['datetime'], errors='ignore')

# Define the desired order for the first few columns
first_columns = ['date', 'year_month', 'year_week', 'DOY', 'Source']

# Ensure first_columns are in the dataset and maintain their order
first_columns = [col for col in first_columns if col in daily_avg_df.columns]

# Find the position of 'RAIN_f'
rain_f_index = daily_avg_df.columns.get_loc('RAIN_f')

# Get the current column order and remove 'RAIN_f_monthly_sum' & 'RAIN_f_weekly_sum' if they exist
columns = list(daily_avg_df.columns)
columns.remove('RAIN_f_monthly_sum') if 'RAIN_f_monthly_sum' in columns else None
columns.remove('RAIN_f_weekly_sum') if 'RAIN_f_weekly_sum' in columns else None

# Insert 'RAIN_f_monthly_sum' and 'RAIN_f_weekly_sum' right after 'RAIN_f'
columns[rain_f_index + 1:rain_f_index + 1] = ['RAIN_f_monthly_sum', 'RAIN_f_weekly_sum']

# Ensure first columns are placed at the beginning
remaining_columns = [col for col in columns if col not in first_columns]
final_order = first_columns + remaining_columns

# Reorder the DataFrame
daily_avg_df = daily_avg_df[final_order]

In [7]:
print(daily_avg_df.info()) 
#daily_avg_df.head(15)
#daily_avg_df.tail(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8870 entries, 0 to 8869
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         8870 non-null   datetime64[ns]
 1   year_month                   8870 non-null   object
 2   year_week                    8870 non-null   object
 3   DOY                          8870 non-null   float64
 4   Source                       8870 non-null   object
 5   SWCT_1_005                   8240 non-null   float64
 6   SWCT_1_015                   8529 non-null   float64
 7   SWCT_1_025                   8530 non-null   float64
 8   SWCT_1_035                   8527 non-null   float64
 9   SWCT_1_045                   8531 non-null   float64
 10  SWCT_1_055                   8529 non-null   float64
 11  SWCT_1_065                   8531 non-null   float64
 12  SWCT_1_075                   8531 non-null   float64
 13  SWCT_1_085                   8531 non-null   float64
 14  SWCT_1_095                   8256 non-null   float64
 15  SWCT_1_105                   8531 non-null   float64
 16  SWCT_1_115                   8531 non-null   float64
 17  STMP_1_005                   8258 non-null   float64
 18  STMP_1_015                   8323 non-null   float64
 19  STMP_1_025                   8320 non-null   float64
 20  STMP_1_035                   8289 non-null   float64
 21  STMP_1_045                   8291 non-null   float64
 22  STMP_1_055                   8278 non-null   float64
 23  STMP_1_065                   8302 non-null   float64
 24  STMP_1_075                   8265 non-null   float64
 25  STMP_1_085                   8214 non-null   float64
 26  STMP_1_095                   8171 non-null   float64
 27  STMP_1_105                   8252 non-null   float64
 28  STMP_1_115                   7848 non-null   float64
 29  WLEV_f                       7591 non-null   float64
 30  WTMP_f                       2912 non-null   float64
 31  ATMP_f                       8870 non-null   float64
 32  PAIR_f                       8870 non-null   float64
 33  WIND_f                       8870 non-null   float64
 34  WINS_f                       8870 non-null   float64
 35  RHUM_f                       8870 non-null   float64
 36  RAIN_f                       8870 non-null   float64
 37  RAIN_f_monthly_sum           8779 non-null   float64
 38  RAIN_f_weekly_sum            8835 non-null   float64
 39  VPD_f                        8734 non-null   float64
 40  SWIN_f                       8870 non-null   float64
 41  ET                           3346 non-null   float64
 42  NEE_CO2                      3022 non-null   float64
 43  NEE_CH4                      638 non-null    float64
 44  GPP_NT                       7780 non-null   float64
 45  RECO_NT                      8865 non-null   float64
 46  NEE_CO2_kg_day_ha_DAv_24hrs  3022 non-null   float64
 47  NEE_CH4_kg_day_ha_DAv_24hrs  638 non-null    float64
 48  GPP_NT_kg_day_ha_DAv_24hrs   7780 non-null   float64
 49  RECO_NT_kg_day_ha_DAv_24hrs  8865 non-null   float64
 50  NEE_CO2_kg_day_ha_DAv_NT     2696 non-null   float64
 51  NEE_CH4_kg_day_ha_DAv_NT     564 non-null    float64
 52  GPP_NT_kg_day_ha_DAv_NT      3304 non-null   float64
 53  RECO_NT_kg_day_ha_DAv_NT     3312 non-null   float64
 54  NEE_CO2_kg_day_ha_DAv_DT     2848 non-null   float64
 55  NEE_CH4_kg_day_ha_DAv_DT     605 non-null    float64
 56  GPP_NT_kg_day_ha_DAv_DT      3299 non-null   float64
 57  RECO_NT_kg_day_ha_DAv_DT     3308 non-null   float64
 58  GPP_NT_kg_day_ha_DAv_NaN     7763 non-null   float64
 59  RECO_NT_kg_day_ha_DAv_NaN    8858 non-null   float64
 60  NEE_CO2_kg_day_ha_WAv_24hrs  628 non-null    float64
 61  NEE_CH4_kg_day_ha_WAv_24hrs  160 non-null    float64
 62  GPP_NT_kg_day_ha_WAv_24hrs   1122 non-null   float64
 63  RECO_NT_kg_day_ha_WAv_24hrs  1265 non-null   float64
 64  NEE_CO2_kg_day_ha_WAv_NT     602 non-null    float64
 65  NEE_CH4_kg_day_ha_WAv_NT     150 non-null    float64
 66  GPP_NT_kg_day_ha_WAv_NT      633 non-null    float64
 67  RECO_NT_kg_day_ha_WAv_NT     634 non-null    float64
 68  NEE_CO2_kg_day_ha_WAv_DT     625 non-null    float64
 69  NEE_CH4_kg_day_ha_WAv_DT     156 non-null    float64
 70  GPP_NT_kg_day_ha_WAv_DT      649 non-null    float64
 71  RECO_NT_kg_day_ha_WAv_DT     650 non-null    float64
 72  GPP_NT_kg_day_ha_WAv_NaN     1122 non-null   float64
 73  RECO_NT_kg_day_ha_WAv_NaN    1265 non-null   float64
dtypes: datetime64[ns](1), float64(70), object(3)
memory usage: 5.0+ MB
None

#### Export the final dataframe to a CSV file

In [8]:
output_path = "C:/Data_MSc_Thesis/Pre_Processed_Data_Final/Pre_Processed_Data_All_Locations_V4.csv"  # Update the path as needed
daily_avg_df.to_csv(output_path, index=False)

print(f"DataFrame successfully saved to {output_path}")

DataFrame successfully saved to C:/Data_MSc_Thesis/Pre_Processed_Data_Final/Pre_Processed_Data_All_Locations_V4.csv